h3 You'll need #{calculation.coffee} #{calculation.unit} coffee & #{calculation.water} #{calculation.unit} water
p.heavy To make a #{calculation.drinkSize} oz. drink
a.ready.button.button-rounded.button-jumbo.button-flat-highlight(href='brew/#{calculation.id}') Ready To Start Brewing?
