extends ../shared/template

block content

  .container__brew
    header.header
      include ../shared/nav
    //- .interactionbar
    //-   include ../shared/brew-nav
    .select-brew-method.well

      h5.u-textCenter Pick a brew method
      .row
        each brewMethod in brewMethods
          .method(data-id=brewMethod._id.toString())

            a(href='#')
              img.thumbnail(src=brewMethod.photo)
              h6.u-textCenter #{brewMethod.name}

      //- h5 What kind of brew method will you be using?
      //- each brewMethod in brewMethods
      //-   .method.grid--full(data-id=brewMethod._id.toString())
      //-     h6 #{brewMethod.name}
      //-     img.thumbnail.u-1of4(src=brewMethod.photo)

    .select-recipe.well
      h5.u-textCenter Select a recipe from your library
      .selection.u-textCenter
        if(user.recipeLibrary)
          select(id='recipeLibrary')
            option Select a brew method first
        else
          p You haven't added any recipes yet.
          a(href='/recipes', class='button button-rounded button-flat-highlight') Browse Recipes
      .preparations


    .coffee-amount.well.u-textCenter
      h5 How much coffee would you like to make?
      .row

        #by-coffee-amount.u-1of3.left
          p.heavy I have this much coffee to use:
          input.calcType.amnt(type='number', value='coffeeToUse', min='1', placeholder='15')
          p What units would you like back?
          select(id='unit')
            option(name='unit', value='grams') grams
            option(name='unit', value='oz') oz
          button.calculate.button.button-rounded.button-flat-highlight Calculate

        .center.u-1of4
          h5 OR

        #by-drink-size.u-1of3.right
          p.heavy I would like this finished drink size (in oz):
          input.calcType.drinksize(type='number' value='drinkSize', step='1', min='1', placeholder='8')
          p What units would you like back?
          select(id='unit')
            option(name='unit', value='grams') grams
            option(name='unit', value='oz') oz
          button.calculate.button.button-rounded.button-flat-highlight Calculate
      .row.u-textCenter
        #calculation-output


block scripts
  script(src='/js/es6/compiled/brew.js')
