a.button.button-rounded.button-flat Added To Recipe Library

//- .recipe(data-id=recipe._id.toString())
//-   if(recipe.photos)
//-     each photo in recipe.photos
//-       if(photo.isPrimary)
//-         a(href='#')
//-           img.thumbnail(src=photo.path)
//-   a(href='/recipes/#{recipe._id}')
//-     h5 #{recipe.title}
//-   p #{recipe.description}
//-   a.button.button-rounded.button-flat Added To Recipe Library
