extends ../shared/template

block content

  .container__profile

    header.header
      include ../shared/nav

    .subnav
      include ../shared/profile-subnav

    #profile.profile
      .main.well
        .row
          .u-1of3
            a.thumbnail(href='#')
              if(user.photo)
                img.userProfile(src=user.photo)
              else
                img.userProfile(src='/img/profile-default.jpg')
            if(typeof(user.name) !== undefined)
              if(user.name)
                h5 #{user.name}
              else if(!user.name)
                if(user.facebook)
                  h5 #{user.facebook.name}
                else if(!user.facebook)
                  if(user.twitter)
                    h5 #{user.twitter.username}
                  else if(!user.twitter)
                    if(user.google)
                      h5 #{user.google.name}

            else
              p Edit your profile to include your name
          .u-2of3
            a.edit.button.button-rounded.button-flat-highlight(href='/profile/edit') Edit Profile
            h6 About
            if(user.bio)
              h3= user.bio
            else if(!user.bio)
              p Edit your profile to include a bio

      #myrecipes.myrecipes.well
        a.newrecipe.button.button-rounded.button-flat-highlight(href='/recipes/new') New Recipe
        h3 My Original Recipes

        table.recipes
          tbody
            if(recipes)
              each recipe in recipes
                tr(data-id=recipe._id.toString())
                  td
                    p.heavy #{recipe.title}
                  td.description
                    p #{recipe.description}
                  td
                    a.view.button.button-rounded.button-flat(href='/recipes/#{recipe._id}') View
                  //- td
                  //-   a.edit.button.button-rounded.button-flat(href='/recipes/edit/#{recipe._id}') Edit
            else
              tr
                td
                  p You haven't created any recipes


block scripts
  script(src='/js/es6/compiled/originalRecipes.js')
