extends ../shared/template

block content

  .container__profile

    header.header
      include ../shared/nav

    .subnav
      include ../shared/profile-subnav

    #profile.profile
      .main.well
        .row
          .u-1of3
            a.thumbnail(href='#')
              img.userProfile(src='user.photo')
            if(typeof(user.name) !== undefined)
              if(user.name)
                h5 #{user.name}
              else if(!user.name)
                if(user.facebook)
                  h5 #{user.facebook.name}
                else if(!user.facebook)
                  if(user.twitter)
                    h5 #{user.twitter.username}
                  else if(!user.twitter)
                    if(user.google)
                      h5 #{user.google.name}

            else
              p Edit your profile to include your name
          .u-2of3
            a.edit.button.button-rounded.button-flat-highlight(href='#editprofile') Edit Profile
            h6 About
            if(user.bio)
              p= name
            else if(!user.bio)
              p Edit your profile to include a bio

      #myrecipes.myrecipes.well
        a.newrecipe.button.button-rounded.button-flat-highlight(href='#') New Recipe
        h6 My Original Recipes

        table
          tbody
            tr
              if(user.recipes)
                td
              else
                td
                  p You haven't created any recipes

//- block scripts
//-   script(src='/js/es6/compiled/profile.js')
