ul
  li: a(href='/learn/#{brewMethod._id}') V60
  li: a(href='/learn/#{brewMethod._id}') Chemex
  li: a(href='/learn/#{brewMethod._id}') Clever
  li: a(href='/learn/#{brewMethod._id}') Aeropress
  li: a(href='/learn/#{brewMethod._id}') French Press
  li: a(href='/learn/#{brewMethod._id}') Kalita
  li: a(href='/learn/#{brewMethod._id}') Iced Coffee
  li: a(href='/learn/#{brewMethod._id}') Cold Brew
  //- li: a(href='/learn/geography') Geography
  //- li: a(href='/learn/history') History
