extends ../shared/template

block content

  .container__home

    section.top-section

      header.header
        h1.logo Kaffepaus
        nav.nav
          ul
            li: a.white(href='#about') About
            li: a.white.showLogin(href='#login') Login
            li: a.white.showSignup(href='#signup') Sign Up

      div#headerMessage.site-content
        h1.u-textCenter Make coffee worthy of sharing.
          br
          a(href='#login', class='button button-large button-rounded button-flat-highlight') Get Started

    section#about

      #features.grid--gutters.u-textCenter
        .grid-cell
          .cell-inner
            h3 Learn
            span
              i.fa.fa-2x.fa-flask
            p Text about what you can learn about.
        .grid-cell
          .cell-inner
            h3 Brew
            span
              i.fa.fa-2x.fa-coffee
            p A little bit about brewing with the recipes and timer.
        .grid-cell
          .cell-inner
            h3 Share
            span
              i.fa.fa-2x.fa-mail-forward
            p How users can share, rate, and try recipes and share on social media.

    section#login

      .loginOptions
        .grid.grid--gutters.u-textCenter

          .left
            h3.u-textCenter Login
            p.u-textCenter Don't have an account?
              a.showSignup(href='#signup') Signup

            form(method='post' action='/login', id='loginform')
              input.form-control(type='text', name='email', placeholder='Email', id='email', autofocus=true, required=true)
              input.form-control(type='password', name='password', placeholder='Password', required=true)
              button.button.button-rounded.button-flat Login

          .center

          .right
            ul
              li: a(href='/auth/facebook', class='button button-rounded button-flat-primary facebook') Facebook Login
                i.fa.fa-facebook
              li: a(href='/auth/twitter', class='button button-rounded button-flat-primary twitter') Twitter Login
                i.fa.fa-twitter
              li: a(href='/auth/google', class='button button-rounded button-flat-primary google') Google Login
                i.fa.fa-google-plus

      .signupOptions
        .grid.grid--gutters.u-textCenter
          .left
            h3.u-textCenter Sign Up
            p.u-textCenter Already have an account?
              a.showLogin(href='#login') Login

            form(method='post' action='/signup', id='signupform')
              input.form-control(type='text', name='email', placeholder='Email', id='email', autofocus=true, required=true)
              input.form-control(type='password', name='password', placeholder='Password', required=true)
              button.button.button-rounded.button-flat Submit

          .center

          .right
            ul
              li: a(href='/auth/facebook', class='button button-rounded button-flat-primary facebook') Facebook Signup
                i.fa.fa-facebook
              li: a(href='/auth/twitter', class='button button-rounded button-flat-primary twitter') Twitter Signup
                i.fa.fa-twitter
              li: a(href='/auth/google', class='button button-rounded button-flat-caution google') Google Signup
                i.fa.fa-google-plus
    footer
      ul
        li: a(href='https://github.com/rachelself') Made by Rachel Self
          i.fa.fa-github




block scripts
  script(src='/js/es6/compiled/landing.js')
